.home-button {
    background: url('https://64.media.tumblr.com/a51b604ef19af74360bc611d057faa6b/tumblr_inline_nxeeqaPJK01sjhna2_250.gif');
    background-size: contain;
    background-repeat:no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-indent: -9999px;
}
body
{
    background-color: black;
    background-image: url('https://68.media.tumblr.com/3b5440683e71e2d39f998c6ed99c3feb/tumblr_ord7ll2peg1sx56xso1_1280.gif');
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position:center below;
  }
