@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
  }

  /* CSS for main section */
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("images/horizontal flowers.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .intro h1 {
    font-family: sans-serif;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  .intro p {
    font-size: 30px;
    color: #d1d1d1;
    text-transform: uppercase;
    margin: 70px 0;
    text-align: center;
  }

  .achievements{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 80px;
  }

  .achievements .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }

  .achievements .work i {
    width: fit-content;
    font-size: 50px;
    color: #333333;
    border-radius: 50%;
    border: 2px solid #333333;
    padding: 12px;
  }

  .achievements .press .button{
    font-size: 30px;
    background-color: #D6B6FA;
    text-transform: uppercase;
    margin: 30px;
    color: black;
    border: 15px solid #333333;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .achievements .press .button:hover{
    background-color: #662E75;
    color: white;
  }

  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    border-top: 2px solid #eeeeee;
  }

  .about-me img {
    width: 500px;
    max-width: 100%;
    height: auto;
    border: 10px solid #555;
  }

  .about-me-text h2 {
    font-size: 50px;
    color: #662E75;
    text-transform: uppercase;
    margin: 0;
  }

  .about-me-text p {
    font-size: 25px;
    color: #585858;
    margin: 10px 0;
  }

  .extras img{
    height: auto;
    border: 10px solid #555;
    display: flex;
    justify-content: space-between;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .back .button{
    font-size: 30px;
    background-color: #D6B6FA;
    text-transform: uppercase;
    margin: 30px;
    color: black;
    border: 15px solid #333333;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .back .button:hover{
    background-color: #662E75;
    color: white;
  }

  .randos img{
    height: auto;
    border: 10px solid #555;
    display: flex;
    justify-content: space-between;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .again .button{
    font-size: 30px;
    background-color: #D6B6FA;
    text-transform: uppercase;
    margin: 30px;
    color: black;
    border: 15px solid #333333;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .again .button:hover{
    background-color: #662E75;
    color: white;
  }
