body {
    background-color: lightgreen;
    background-image: url('raining-money-45.gif');
}
h1 {
    font-size:125px;
    background-color: beige;
    width:1000px;
    text-align: center;
    border: solid 5px black;
    margin: 0 auto;
}
a{
    font-size:150px;
    border: 10px solid black;
    background-color: white;
    padding:10px;
}
p{
    text-align:center
}
img:hover {
    transform: scaleX(-1);
}
h1.special
