body{
    background-color: #ccffff;
    opacity: 0.8;
    font-family: "Lucida Sans Unicode", "Courier New", monospace;
    border-style: dotted;
    margin-left: 0.25em;
    margin-right: 0.25em;
    #message{
        background-color: #ccffff
    }
    #key{
        background-color: #ccffff
    }
    #result{
        background-color: #ccffff;
}
h1{
    margin-left: 0.35em;
    margin-right: 0.35em;
}
h2{
    margin-left: 0.75em;
    margin-right: 0.75em;
}
a{
    margin-left: 1.5em;
    margin-right: 1.5em;
}
p{
    margin-left: 1.5em;
    margin-right: 1.5em;
}
input{
    margin-left: 1.5em;
    margin-right: 1.5em;
}
table{
    margin-top: 1.5em;
    margin-bottom:1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
th,
td {
    border: 1px solid grey;
}
td2 {
    border: 1px solid cyan;
}
buttonback{
    background-color: #ccffff;
}


