@keyframes fade {
0% {opacity:0}
100% {opacity:1}
}

.fit {
    height: 100%;
    margin: 0;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li
{
    float: left;
}

li a
{
    display: block;
    font-family: 'Brush Script MT', cursive;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFFFFF;
    color: black;
  }

i:hover {
    background-color: #333;
    color: #A41034;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid #333;
}

h1 {
    text-align:center;
    font-size: 50px;
}

h2 {
    font-size: 25px;
    text-align: left;
    margin-left: 10px;
}

body {
    font-family:'Brush Script MT', cursive;
    background-color: #A41034;
    color: white;
    margin: 0px;
}

p {
    margin-left: 10px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top:0;
    left: 25px;
    width: 50%;
    height: 55%;
}

.column {
    float: left;
    width: 45%;
    padding: 20px;
    margin-bottom: 20px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

figcaption{
    text-align: center;
}

