@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, h1, h2, h3, p, ul, ol, li {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   line-height: 1.6;
   color: black;
   background-color: #e7eef8;
   text-align: center;
}


.container {
   width: 80%;
   margin: 0 auto;
}


h1 {
   font-size: 42px;
   padding: 20px;
}

li {
   font-size: 18px;
   padding: 15px;
}

header {
   background-color: #1a237e;
   color: #fff;
   padding: 10px 0;
   text-align: center;
   font-size: 18px;
   font-weight: bold;
}


nav {
   background-color: #ffffff;
   padding: 10px;
}

nav ul {
   list-style: none;
}

nav ul li {
   display: inline-block;
   margin-right: 10px;
}

nav a {
   text-decoration: none;
   color: #1a237e;
   font-weight: bold;
}


.img1 {
   width: 500px;
   height: 900px;
}

.img2 {
   width: 1000px;
   height: 688px;
}

.img3 {
   width:600px;
   height:600px;
   border-style: solid;
   border-width: thick;
   border-color: #1a237e;
}


summary {
   font-weight: bold;
}

aside {
   padding-left: 15px;
   padding-right: 15px;
}

div {
   padding-right: 15px;
   padding-left: 15px;
}

details {
   padding-bottom: 8px;
}

.p22 {
   padding-left: 15px;
   padding-right: 15px;
}


main {
   padding: 20px 0;
}


button {
   width: 300px;
   height: 75px;
   color: #FF7F7F;
   font-size: 15px;
   font-weight: bold;
}


p {
   padding: 25px;
}


footer {
   background-color: #1a237e;
   color: #fff;
   padding: 10px 0;
   text-align: center;
}


footer a, footer a:hover, footer a:active, footer a:visited {
   color: white;
}



